 

 
<style>
 
 
  .da {
 
    margin-block-end: 50px;
    height: 65px;
   
    display: flex;
    align-items: center;
    background-color: #97d5e7;
    color: white;
    font-weight: 600;

    align-items: center;
 
  }
  .left {
    width: 90%;
  
  }

  .left > button {
    margin: 5px;
  }
  .right {
    width: 15%;
 
  }

</style>

<div class="da" >
  <div  class ="left" >
  <button routerLink="/pelicula-list" class="buttonLogout"> Administrar peliculas</button>            
  <button routerLink="/usuario-list" class="buttonLogout"> Administrar usuarios</button>
  <button routerLink="/payment-list" class="buttonLogout"> Administrar Metodos de pago</button>            
            
  </div>


  <div class="right"> 
    <button routerLink="/login" class="buttonLogout"> Cerrar sesión </button>            
  </div>
  </div>


<router-outlet></router-outlet>
 
 